* {
  font-family: 'Quicksand', sans-serif, 22px;
}

.Navbar nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  align-items: flex-end;
  padding-right: 2vw;
  width: 13vw;
  height: 33vh;
  background-color: #d1e3ab;
  border-radius: 45px;
  top: 25px;
  right: 8%;
}

.Navbar nav > ul > li {
  margin: 10px;
  padding-right: 20px;
}

li:first-child {
  padding-top: 50px;
}

.Navbar {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  color: #4b4278;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

nav ul a:hover {
  color: #4b4278;
  border-bottom: 2px solid #4b4278;
  font-weight: 700;
}

.hamburguer {
  position: absolute;
  z-index: 2;
  right: 10%;
  cursor: pointer;
  top: 45px;
  color: #4b4278;
}

nav ul li button {  
  background-color: #d1e3ab;
  color: #4b4278;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  box-shadow: none;
  border: 2px solid #4b4278;
  border-radius: 25px;
  padding: 5px 20px;
}

nav ul li button:hover {
  background-image: linear-gradient(
    90deg,
    /* rgba(103, 71, 143, 1) 0%, */
    rgba(93, 71, 143, 1) 35%,
    rgba(75, 66, 120, 1) 100%
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);  
  color: #d1e3ab;
  transition: all 0.4s ease-in-out;
}

.Navbar nav > ul > li:last-child {
  padding-right: 10px;
}

@media (max-width: 991.98px) {
  .Navbar a:hover {
    border-bottom: none;
  }

  .Navbar nav > ul {
    z-index: 1;
    width: 15vw;
    height: 27vh;
    padding-right: 1.5vw;
    right: 9%;
  }

  .Navbar nav > ul > li {
    margin: 10px;
  }

  li:first-child {
    padding-top: 15px;
  }
}

@media (max-width: 575.98px) {
  .Navbar nav > ul {
    z-index: 1;
    width: 130px;
    height: 160px;
    padding-right: 8px;
    right: 7%;
  }
}
