@import 'bootstrap/dist/css/bootstrap.min.css';

.all-pai {
  width: 50%;
  transform: translate(50%, 80%);
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}

.signup-img {
  border-radius: 200px;
  width: 32%;
  height: 50vh;
  background-image: url('../../../Images/kitty-signup.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 8px 5px #d1e3ab;
  padding: 20px;
}

.signup-content {
  flex: 1;
  padding: 25px;
  padding-left: 35px;
}

.signup-form {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.form-label {
  color: #4b4278;
  margin-top: 10px 8px 5px 8px;
  font-size: 18px;
}

.form-control {
  border: 0.5px solid #4b4278;
  border-radius: 25px;
  margin-bottom: 10px;
}

h4 > a {
  color: #4b4278;
  text-decoration: none;
}

h4 > a:hover {
  color: #4b4278;
  text-decoration: none;
}

Form > h4 {
  text-align: center;
}

.signup-btn {
  background-color: #4b4278;
  color: #fff;
  width: 100%;
  border: 1px transparent;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signup-btn:hover {
  background-color: #d1e3ab;
  color: #4b4278;
}

@media (max-width: 991.98px) {
  .all-pai {
    width: 80vw;
    transform: translate(15%, 85%);
  }

  .signup-img {
    height: 30vh;
  }
}

@media (max-width: 575.98px) {
  .signup-img {
    display: none;
  }
}
