* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  font-family: 'Lato', sans-serif;  
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: 'Quicksand', sans-serif;
  color: #4b4278;
}

h4 {
  font-size: 1rem !important;
}

h5 {
  font-size: 0.8rem !important;
}

#body-container {
  position: relative;
  min-height: 140vh;
  padding-bottom: 100px;
}

@media (max-width: 991.98px) {
  #body-container {
    min-height: 85vh;
    padding-bottom: 0;
  }
}

@media (max-width: 575.98px) {
  #body-container {
    min-height: 70vh;
    padding-bottom: 20px;
  }
}
